{# templates/login.html #}
{% extends 'presentation/base_presentation.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}

<section class="padding-medium position-relative" style = "background-color: rgba(200, 200, 200, 0.3)" >
<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Вхід до системи</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Увійти</button>
                </form>
            </div>
        </div>
    </div>
</div>
    </section>
{% endblock %}